.containter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputContainer {
  display: flex;
}

.descriptionInput {
  padding-right: 10px;
  width: fit-content;
}

.inputNumber {
  border-radius: 4px;
  border: 1px solid #78829d;
  height: 36px;
  width: 83px;
  margin-top: 10px;
}

.inputType {
  border-radius: 4px;
  border: 1px solid #78829d;
  height: 40px;
  width: 200px;
  margin-top: 10px;
  padding-left: 8px;
}

.inputButton {
  border-radius: 4px;
  height: 40px;
  width: 200px;
  background-color: #64e0b8;
  color: #fff;
  border: none;
}

.button {
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 768px) {
  .inputButton {
    width: 300px;
  }
  .inputContainer {
    display: flex;
    padding: 0px 0 25px;
  }
}
