.container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding-bottom: 20px;
}

.toggleSwitch {
  position: relative;
  width: 60px;
  display: inline-block;
  text-align: left;
  top: 12px;
}

.checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  border: 0 solid #c2c4d2;
  border-radius: 20px;
}

.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.1s ease-in 0s;
}

.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.inner:before {
  content: "";
  background-color: #64e0b8;
  color: #fff;
}

.inner:after {
  content: "";
  background-color: #bbb;
  color: #fff;
}

.switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #fff;
  position: absolute;
  top: -1px;
  bottom: 8px;
  right: 30px;
  border: 0 solid #c2c4d2;
  border-radius: 20px;
  transition: all 0.1s ease-in 0s;
}

.twoZone {
  display: flex;
  text-align: left;
  padding: 18px 4px 0;
}

.zone {
  color: #bbb;
}

.oneZone {
  text-align: right;
  padding: 18px 4px 0;
}

.checkbox:checked + .label .inner {
  margin-left: 0;
}

.checkbox:checked + .label .switch {
  right: 0px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .toggleSwitch {
    top: 20px;
  }
  .switch {
    width: 18px;
    bottom: 22px;
    transition: all 0.1s ease-in 0s;
  }
  .twoZone {
    padding: 18px 8px 0;
  }
  .oneZone {
    padding: 18px 8px 0;
  }
  .zone {
    color: #bbb;
    width: 75px;
  }
}
