@import "variables";
@import "mixins";
@import "extensions";

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #172e62;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include display-flex();
  @include align-center();
  @include justify-center();
  background-color: $main-background-color;
  font-size: 14px;
  cursor: default;
}

input,
label {
  display: block;
}

input {
  padding-left: $spacing * 2;
}

hr {
  opacity: 25%;
  margin: $spacing * 10 0 $spacing * 15;
  @include media-max-width() {
    visibility: hidden;
    margin: $spacing * 15 0 0px;
  }
}

.btnStyle {
  opacity: 80%;
  &:hover {
    opacity: 100%;
  }
}

.pointer {
  cursor: pointer;
}

.textPadding {
  padding: $spacing;
}

.desktopView {
  display: block;
  @include media-max-width() {
    display: none;
  }
}

.mobileView {
  display: none;
  @include media-max-width() {
    display: block;
  }
}

.linkStyle {
  color: #4057e3;
  text-decoration: none;
}

.secondaryTextStyle {
  color: $secondary-color;
}

.bold {
  font-weight: bold;
}

.activeZone {
  color: inherit !important;
}

.center {
  @include display-flex();
  @include justify-center();
}

.recommended {
  visibility: visible;
  background-color: $main-color;
  color: #fff;
  margin: -$spacing * 10 (-$spacing * 5) $spacing * 5;
  padding: $spacing * 2;
  @include media-max-width() {
    position: absolute;
    margin-top: -$spacing * 12;
    margin-left: -$spacing * 2;
    padding: 0;
    width: $main-width;
    background-color: transparent;
    color: $main-color;
  }
}

.hidden {
  visibility: hidden;
}

.activePlan .planBtn {
  background-color: $main-color;
  color: #fff;
  border: 2px solid inherit;
  font-weight: 400;
  border-radius: 0.3rem;
  @include media-max-width() {
    width: inherit;
    font-weight: bold;
  }
}

.planBtn {
  background-color: #fff;
  color: $main-color;
  border: 2px solid $main-color;
  padding: 0.6rem 0.9rem 0.6rem 0.9rem;
  border-radius: 0.3rem;
}

.icon {
  margin: 0px $spacing;
}

@include media-min-width() {
  .activePlan {
    background-color: rgba(100, 224, 184, 0.2) !important;
  }

  .activePlan.first,
  .activePlan.second,
  .activePlan.third {
    padding-bottom: $spacing * 6 !important;
  }
}

@include media-max-width() {
  .first,
  .second,
  .third {
    height: 100px;
  }
  .activePlan {
    background-color: $table-background-color !important;
  }
}
