body {
  margin: 0;
  font-family: "Open Sans", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #172e62;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  font-size: 14px;
  cursor: default;
}

.btnStyle {
  opacity: 80%;
}

.btnStyle:hover {
  opacity: 100%;
}

.pointer {
  cursor: pointer;
}

.textPadding {
  padding: 4px;
}

.desktopView {
  display: block;
}

.mobileView {
  display: none;
}

.linkStyle {
  color: #4057e3;
  text-decoration: none;
}

.secondaryTextStyle {
  color: #78829d;
}

.bold {
  font-weight: bold;
}

input,
label {
  display: block;
}

hr {
  opacity: 25%;
  margin: 40px 0 60px;
}

input {
  font-weight: bold;
  padding-left: 8px;
}
.activeZone {
  color: inherit !important;
}

.center {
  display: flex;
  justify-content: center;
}

.recommended {
  visibility: visible;
  background-color: #64e0b8;
  color: #fff;
  margin: -40px -22px 19px;
  padding: 6px;
}

.hidden {
  visibility: hidden;
}

.activePlan .planBtn {
  background-color: #64e0b8;
  color: #fff;
  border: 2px solid inherit;
  padding: 0.6rem 0.9rem 0.6rem 0.9rem;
  font-weight: 400;
  border-radius: 0.3rem;
}

.planBtn {
  background-color: #fff;
  color: #64e0b8;
  border: 2px solid #64e0b8;
  padding: 0.6rem 0.9rem 0.6rem 0.9rem;
  border-radius: 0.3rem;
}

.icon {
  margin: 0px 4px;
}

@media (min-width: 768px) {
  .activePlan {
    background-color: rgba(100, 224, 184, 0.2) !important;
  }

  .activePlan.first,
  .activePlan.second,
  .activePlan.third {
    padding-bottom: 24px !important;
  }
}

@media (max-width: 768px) {
  hr {
    visibility: hidden;
    margin: 60px 0 0px;
  }
  .activePlan .planBtn {
    width: inherit;
    font-weight: bold;
  }
  .recommended {
    position: absolute;
    margin-top: -50px;
    margin-left: -10px;
    padding: 0;
    width: 100px;
    text-align: -webkit-center;
    background-color: transparent;
    color: #64e0b8;
  }
  .desktopView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .first,
  .second,
  .third {
    height: 100px;
  }
  .activePlan {
    background-color: #fff !important;
  }
}
