@import "../../variables";
@import "../../mixins";
@import "../../extensions";

.table {
  @include display-flex();
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $main-width * 11;
}

.tableCell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style-type: none;
  outline: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
  margin-top: 1px;
  margin-left: 1px;
}

.tableCell {
  width: calc(25% - 1px);
  &:nth-child(-n + 4) {
    padding-top: $spacing * 10;
    padding-bottom: $spacing * 10;
  }
  &:nth-child(n + 2) {
    background-color: $table-background-color;
    @include media-max-width() {
      background-color: $main-background-color;
    }
  }
  &:nth-child(5n + 5) {
    background-color: $main-background-color;
    @include media-max-width() {
      display: none;
    }
  }
  &:first-child,
  &:nth-child(1n + 20) {
    outline: none !important;
    background: transparent !important;
  }
  @include media-max-width() {
    &:nth-child(-n + 5) {
      padding: $spacing * 2;
    }
    &:first-child {
      display: none;
    }
    &:nth-child(n + 5) {
      width: 100%;
    }
  }
}

.newPrice {
  color: $main-color;
  font-size: 18px;
  font-weight: bold;
}

.oldPrice {
  color: $secondary-color;
  font-size: 17px;
  text-decoration: line-through;
  opacity: 50%;
  padding: 0px $spacing;
}

.planImage {
  max-width: -webkit-fill-available;
}
